@import url('https://fonts.googleapis.com/css?family=Poppins:200,400&display=swap');

/*------------------------------------
              GENERAL
-------------------------------------*/
body {
  margin: 0;
  padding: 0;
  height: 4000px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #EEE;
}

.purple {
  color: #b078de;
}

p {
  padding: 0px 50px 0px 50px;
}

/*------------------------------------
              NAVBAR
-------------------------------------*/

.nav {
    text-align: center;
    height: 70px;
    line-height: 70px;
    transition: all .5s ease-in-out;
    z-index: 1;
    background-color: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.scroll {
  background-color: rgba(176, 120, 222, 0.9);
}

.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: #2d2930;
    margin: 0 10px;
    line-height: 70px;
    padding: 8px 16px;
}

/* Change the link color on hover */
/*#c5c9d1*/
.menu a:hover {
  background-color:#b078de;
  color: #fff;
  transition: .5s;
  border-radius: 1px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #fff;
}

label:hover {
  background-color: #b078de;
  transition: .5s;
  border-radius: 1px;
  height: 50px;
}

#toggle {
    display: none;
}

/*------------------------------------
              BANNER
-------------------------------------*/
.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make video full w and h */
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -100;

  /* Add opacity effect */

  filter: opacity(70%);
  -webkit-filter: opacity(70%);

}

/* Show up content */
.banner .content {
  position: relative;
  z-index:-1;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Style h1 content */
.banner .content h1 {
  text-align: center;
  margin-top: 30%;
  margin-bottom: 0;
  padding: 0;
  font-size: 5em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5em;
  position: relative;
  vertical-align: middle;
  text-shadow: 2px 2px 5px #595959;
}

/* Style p content */
.banner .content p {
  font-size: 1.1em;
  color: #2d2930;
  letter-spacing: 0.2em;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------
          BANNER TYPEWRITER
-------------------------------------*/

.effect h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #b078de; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #b078de; }
}

/*------------------------------------
       CONTENT TITLE STYLES
-------------------------------------*/
h1, p {
  text-align: center;
}

.content-box{
   padding: 60px 0 40px 0;
}

.content-title {
    margin: 0 0 5px 0;
  }

.underline {
    width: 35px;
    height: 3px;
    background-color: #b078de;
    margin: 0px auto 0 auto;
    padding-top: 0px;
    margin-bottom: 40px;
  }

/*------------------------------------
          ABOUT ME TYPEWRITER
-------------------------------------*/
.var-highlight{
	color: #4900a1;
}
.string-highlight{
	color: #9e6bdb;
}

#typewriter{
		font-size: 2em;
		/*margin: 0;*/
		font-family: "Courier New";

		&:after{
			content: "|";
			animation: blink 500ms linear infinite alternate;
		}
}

#code {
  width: auto;
  height: 500px;
  padding: 15px;
  border: none;
  margin: 0;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 22em;
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

/*------------------------------------
       ABOUT ME CONTENT
-------------------------------------*/

/* my avatar */
.avatar {
  vertical-align: middle;
  width: 50%;
  margin-left: 25%;
  border-radius: 50%;
  padding: 30px;
  align-items: center;
  text-align: center;
  background-color: #ceaaf0;
  opacity: 10;
}

.avatar:hover {
  background-color: transparent;
  opacity: 0.9;
}

/* Hobbies icons */
.hobbies {
  padding: 0;
}
.fas {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #b078de;
}

.fas:hover {
    opacity: 0.7;
}

.fas p {
  color: black;
  text-align: center;
  font-size: 14px;
  margin-left: -10px;
  font-style: oblique;
  padding: 0px;
}
/*------------------------------------
          ABOUT ME POP-UP
-------------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #7d3391;
  text-shadow: 3px 3px 6px #fff;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.thanks {
    text-decoration: none;
    color: #7c7080;
    font-size: 12px;
}

/*------------------------------------
              CAROUSEL
-------------------------------------*/
.mySlides {display: none}
.mySlides img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  object-fit: cover;
  width: 100%;
  position: relative;
  margin: auto;
}

#slides {
    width: 100%;
    height:100%;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0;
    z-index: -1;
    color: #fff;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: -1;
}

.controls {
  margin-top: 40%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -28px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow: 3px 3px 5px #595959;
  background-color: transparent;
  border:none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #b078de;
}

/* Play-Pause button */
#pause {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #b078de;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 20px;
}

/* Text on carousel */
.text {
  color: white;
  font-size: 5em;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 5px #595959;
}

.text p {
	font-size: 20px;
    padding: 60px;
    padding-top: 10px;
    }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*------------------------------------
       ACHIEVEMENTS CARDS
-------------------------------------*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #ceaaf0;
  opacity: 0.7;
}

.card a {
  text-decoration: none;
  color: black;
}
/* Padding inside the card container */
.container {
  padding: 2px 16px;
}

.card img {
  border-radius: 5px 5px 0 0;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------
          SOCIAL BUTTONS
-------------------------------------*/

.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: #b078de;
  color: black;
}

.fab:hover {
    opacity: 0.7;
}

.wrapper {
  margin: auto;
  width:100%;
  text-align:center;
}

/*------------------------------------
              FOOTER
-------------------------------------*/
#footer {
  padding-bottom: 0;
}
#footer a {
  text-decoration: none;
}

.fa {
  padding: 0 10px 0 10px;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}

.me {
  padding: 0 8px 0 8px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(176, 120, 222, 0.7);
   color: white;
   text-align: center;
   box-sizing: border-box;
   height: 2.5rem
   position: absolute;
}

#fac-logo {
  margin: 0;
}
/*------------------------------------
          MEDIA QUERIES
-------------------------------------*/

/*Smartphones*/
@media only screen and (max-width: 767px) {
/* Hamburger menu toggle */
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: #ddcce6;
    }

    .menu a {
        display: block;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }
/* End hamburger menu toggle */

  .banner .content h1 {
      margin-top: 55%;
      font-size: 3em;
    }

    .banner .content p {
      font-size: 0.8em;
    }

    #typewriter {
      font-size: 1.2em;
    }

    #code {
      height: 300px;
    }

    .column {
    width: 100%;
    }

    .avatar {
      width: 50%;
      margin-left: 20%;
    }

    .fas {
      padding: 10px;
    }
    .fas p {
      font-size: 12px;
    }
    .text {
      font-size: 3em;
      margin-top: 5%;
    }

    .text p {
      font-size: 10px;
      padding-top: 0;
    }
}

/* Tablets */

@media only screen and (min-width: 768px) {
  .banner .content h1 {
    margin-top: 35%;
    font-size: 4.2em;
  }
  .banner .content p {
    font-size: 1em;
  }

  .fas {
    padding: 15px;
  }
  .avatar {
    width: 80%;
    margin-left: 8%;
  }
  .text {
    font-size: 4em;
    margin-top: 5%;
  }
  .text p {
    font-size: 15px;
    padding-top: 0;
  }
}

/* Desktop */

@media only screen and (min-width: 1024px) {
  .banner .content h1 {
    margin-top: 30%;
    font-size: 5em;
  }
  .banner .content p {
    font-size: 1.1em;
  }
  .avatar {
    width: 60%;
    margin-left: 15%;
  }
  .fas {
    font: 30px;
  }
  .text {
    font-size: 5em;
    margin-top: 0;
  }
  .text p {
  	font-size: 20px;
    padding: 60px;
    padding-top: 10px;
    }
}
