@import url('https://fonts.googleapis.com/css?family=Poppins:200,400&display=swap');

/*------------------------------------
              GENERAL
-------------------------------------*/
body {
  margin: 0;
  padding: 0;
  height: 4000px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #EEE;
}

/*------------------------------------
              NAVBAR
-------------------------------------*/

.nav {
    text-align: center;
    height: 70px;
    line-height: 70px;
    transition: all .5s ease-in-out;
    z-index: 1;
    background-color: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.scroll {
  background-color: #b078de;
}

.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: #2d2930;
    margin: 0 10px;
    line-height: 70px;
    padding: 8px 16px;
}

/* Change the link color on hover */
/*#c5c9d1*/
.menu a:hover {
  background-color:#b078de;
  color: #fff;
  transition: .5s;
  border-radius: 1px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #fff;
}

label:hover {
  background-color: #b078de;
  transition: .5s;
  border-radius: 1px;
  height: 50px;
}

#toggle {
    display: none;
}

/*------------------------------------
          MEDIA QUERIES
-------------------------------------*/

@media only screen and (max-width: 767px) {
/* Hamburger menu toggle */
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: #ddcce6;
    }
    .menu a {
        display: block;
        margin: 0;

    }
    #toggle:checked + .menu {
        display: block;
    }
/* End hamburger menu toggle */
